*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #131720;
    font-family: sans-serif;
}
h3{
    color: #f6f6f6;
    margin-top: 10px;
    font-size: 20px;
}
.topnav{
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}
.topnav a{
    float: left;
    color: #f6f6f6;
    text-align: center;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.search-container{
    float: right;
}
form{
    background-color: #151f30;
    width: 350px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
input{
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
    font: 15px system-ui;
    color: #f6f6f6;
}
.thumbnail{
    width: 100%;
}
#section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 19px;
    width: 25%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #151f30;
    scale: 0.9;
    transition: 0.3s ease;
    box-shadow: #111111 2px 2px 10px , #111111 -2px -2px 10px;
}
.card:hover{
    scale: 0.95;
}

@media only screen and (max-width: 1300px) {
    .card{
        width: 33%;
    }
    h3{
        font-size:25px ;
    }
}
@media only screen and (max-width: 1000px) {
    .card{
        width: 50%;
    }
    h3{
        font-size: 25px;
    }
}
@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
    h3{
        font-size: 30px;
    }
    .search-container{
        display: block;
        width: 100%;
        padding: 0px 20px;
    }
    .topnav a{
        width: 100%;
    }
    form{
        width: 100%;
    }
}